# Database Credentials
DB_URL=jdbc:postgresql://localhost:5432/eventbooking?stringtype=unspecified
DB_USERNAME=yourdatabaseusername
DB_PASSWORD=yoursecuredatabasepassword

# Spring JPA Hibernate
JPA_DDL_AUTO=validate

# JWT Configuration
JWT_SECRET=yoursupersecretjwtsignaturekeyheremakeitlongsoyoucanjustuseit
JWT_EXPIRATION=7200000